.coin-graph,
.coin-stats {
  padding-top: 85px;
  padding-left: 300px;
  height: 100%;
  color: #f9f6ee;
}

.container {
  padding: 4.2rem;
  position: relative;
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-header-right select {
  background-color: #333;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
}

.graph-header h3 {
  font-size: 1rem;
  letter-spacing: 1.4px;
  font-weight: 400;
}

.yLabel {
  position: absolute;
  left: 0;
  padding-bottom: 2rem;
  bottom: 12rem;
  font-size: 1.3rem;
  color: #f9f6ee;
  font-weight: 500;
  letter-spacing: 1.2px;
  transform: rotate(-90deg);
}

.xLabel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: #f9f6ee;
  font-weight: 500;
  letter-spacing: 1.2px;
}

/* Stats */

.stats-list {
  max-width: 100%;
}

.stats-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.stats-rank {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 2rem;
  max-width: 7rem;
}

.stats-info {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 2rem;
}

.stats-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: right;
  margin: 2rem;
  border: #eee 1px solid;
  border-radius: 10px;
  height: 3.5rem;
  max-width: 100%;
}

.stats-rank-asset {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.stats-rank-asset > h4 {
  max-width: 10px;
}

.stats-rank-asset > h3 {
  inline-size: 150px;
}

.stats-info-asset {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-right: 3rem;
  max-width: 100%;
}

.stats-info-asset > h3 {
  width: 5rem;
}

.down-icon,
.up-icon {
  width: 40px;
}

.up-icon {
  transform: rotate(180deg);
}

@media (max-width: 1135px) {
  .lg-screen {
    display: none;
  }
}

@media (max-width: 825px) {
  .coin-stats,
  .coin-graph {
    padding-left: 0;
  }

  .stats-header {
    padding: 2rem;
  }

  .sm-screen {
    display: none;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0;
    padding-top: 1rem;
  }

  .yLabel {
    display: none;
  }

  .sm-screen {
    display: none;
  }

  .stats-rank-asset {
    padding-left: 6px;
  }
}
